<div class="container">
  <h5>Filtering by date range</h5>
  <div class="row">
    <div class="col-lg-3">
        <label for="startDate">Start</label>
        <input #StartDate class="form-control" type="date" />
    </div>
    <div class="col-lg-3">
        <label for="endDate">End</label>
        <input #EndDate class="form-control" type="date" />
    </div>
    <div class="col-lg-3 ms-2 mt-4">
      <button class="btn btn-primary me-2" (click)="filterDate()">Filter</button>
      <button class="btn btn-primary"(click)="clearFilter()">Clear Filter</button>
    </div>
</div>
  <!-- <input #Date1 type="date" value="2022-01-01"> - <input #Date2 type="date" value="2022-01-01" > -->
  <table class="table table-dark table-striped mt-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Employees">
        <td>
          {{item.firstName}}
        </td>
        <td>{{item.address}}</td>
        <td>
          <button class="btn btn-primary me-2" routerLink='details/{{item.id}}'>Details</button>
          <button class="btn btn-danger  me-2" (click)="deleteEmployee(item.id);">Delete</button>
          <button class="btn btn-warning me-2" routerLink='update/{{item.id}}'>Update</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-CreateEmployee (CreateEvent)="Created($event)"></app-CreateEmployee>
</div>

