<div class="container">
  <a routerLink='/employees' class="btn btn-primary">Back</a>
<table class="table table-dark table-striped mt-5">
  <thead>
    <tr>
      <td colspan="2">
        <h1>
          {{employee.firstName}} {{employee.lastName}} Data
        </h1>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Name
      </td>
      <td>
        {{employee.firstName}} {{employee.lastName}}
      </td>
    </tr>
    <tr>
      <td>
        Age
      </td>
      <td>
        {{employee.age}}
      </td>
    </tr>
    <tr>
      <td>
        Phone
      </td>
      <td>
        {{employee.mobile}}
      </td>
    </tr>
    <tr>
      <td>
        Address
      </td>
      <td>
        {{employee.address}}
      </td>
    </tr>
    <tr>
  </tbody>
</table>
<fieldset>
  <legend>
    {{employee.firstName}} {{employee.lastName}} Family Members
  </legend>
  <table class="table table-dark table-striped mt-5">
    <thead>
      <tr>
        <td>
          Name
        </td>
        <td>
          Relation
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employee.familyMembers">
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.relation}}
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>

</div>
